/* General styles */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins, sans-serif';
    color: #cfc3c4;
}

.btn {
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #cfc3c4;
    margin: auto;
    padding: 14px 20px;
    display: inline-block;
    transition: all .3s;
    color: #cfc3c4;
    background-color: transparent;
    cursor: pointer;
}

.btn:hover {
    background-color: #5d6d7f;
    color: white;
}

hr {
    background-color: #5d6d7f;
    border: 0;
    height: 1px;
    width: 80px;
}

section {
    text-align: center;
}

section header {
    margin-bottom: 70px;
    color: #5d6d7f;
}



/* Header styles */
.main-header {
    height: 55vh;
    display: flex;
    background-image: url(../images/main.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-header h1 {
    font-size:  3em;
    text-transform: uppercase;
    margin-bottom: 60px;
}

/* Navigation styles */

.main-nav {
    position: sticky;
    top: 0;
    background-color: #5d6d7f;
    
}

.main-nav label, .main-nav #drop-nav {
    display: none;
}

.main-nav .nav-menu {
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

.main-nav .nav-menu .nav-menu-item {
    display: inline-block;
    margin: 0 10px;
}

.main-nav .nav-menu .nav-menu-item a {
    color: #cfc3c4;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    transition: all .3s;
    padding: 14px 20px;
    display: inline-block;
}

.main-nav .nav-menu .nav-menu-item a:hover {
    color: #b8877f;
}

/* Dance style */

.dance .dance-image {
    max-height: 400px;
    max-width: 400px;
    border-radius: 50%;
}
